@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/slick';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Neue Montreal';
    background-color: black;
}

.conteiner {
    max-width: 1240px;
    margin: 0 auto;
}

@import 'blocks/pormo';
@import 'blocks/header';
@import 'blocks/title';
@import 'blocks/btn';
@import 'blocks/about';
@import 'blocks/advantages';
@import 'blocks/numbers';
@import 'blocks/services';
@import 'blocks/blocks';
@import 'base/media';