@import 'libs/bootstrap-reboot.min';
@import 'libs/fonts';
@import 'libs/slick';

@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Neue Montreal';
    background-color: black;
}

.conteiner {
    position: relative;
    max-width: 1240px;
    margin: 0 auto;
}

.num {
    min-width: 32px;
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: $text_color;
}

@import 'blocks/pormo';
@import 'blocks/header';
@import 'blocks/title';
@import 'blocks/btn';
@import 'blocks/about';
@import 'blocks/advantages';
@import 'blocks/numbers';
@import 'blocks/services';
@import 'blocks/blocks';
@import 'blocks/stages';
@import 'blocks/team';
@import 'blocks/customers';
@import 'blocks/call-to-action';
@import 'base/media';