.blocks {
    position: relative;
    margin-top: 70px;
    width: 1fr;
    min-height: 630px;
    hr {
        width: 100%;
        height: 1px;
        color: $hr_color;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        min-height: 46px;
        margin: 40px 0;
    }

    &__textarea {
        display: flex;
    }

    &__name {
        display: flex;
        align-items: center;
        margin-left: 23px;
        @include text;
        &_ml0 {
            margin-left: 0;
        }
        &_ttu {
            text-transform: uppercase;
        }
    }
    &__arrow {
        width: 46px;
        height: 46px;
        img {
            width: 100%;
            height: 100%;
            transform: rotate(-135deg);
        }
    }

    &__img1 {
        position: absolute;
        top: 100px;
        left: 450px;
        width: 220px;
        height: 167px;
    }

    &__img2 {
        position: absolute;
        top: 330px;
        left: 795px;
        width: 231px;
        height: 167px;
    }
}