.btn {
    min-width: 115px;
    height: 40px;
    padding: 9px 12px;
    border: 1px solid $second_color;
    border-radius: 20px;
    
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover {
        transform: scale(1.1);
        transition: 1s;
    }

    &_center {
        display: flex;
        justify-content: center;
    }

    &_mt50 {
        margin: 50px auto 0 auto;
    }
    
    &_mt70 {
        margin: 70px auto 0 auto;
    }
}