.title {
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    text-transform: uppercase;
    color: $second_color;
    &_main {
        font-weight: 500;
        font-size: 130px;
        line-height: 156px;
        color: $second_color;
    }
    &_tac {
        text-align: center;
    }
}

.descr {
    margin-top: 70px;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
    text-transform: uppercase;
    color: $text_color;
    &_mt0 {
        margin-top: 0;
    }
}

